# Dependencias (LA MÁS IMPORTANTE)
node_modules/

# Carpetas de construcción (donde va el juego listo para publicar)
dist/
build/

# Archivos de configuración local y logs
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (Secretos)
.env
.env.local